*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

/* sheard styles */
.display-flex{
    display: flex;
}

/* header styles */
.border{
    border: 2px solid black;
}
.navbar{
    max-width:100%;
    margin: 10px 0px;
    height: 120;
    padding: 0px 20px;
    gap: 180px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.logo{
    width: 62px;
    height: 62px;
    word-spacing: 11px;
    margin: 10px;
}
h3{
    width: 129px;
    height: 30px;
    position: 74px 17px;
    font-size: 32px;
    font-weight: bold;
    color: black;
    line-height: 30px;
    margin: 10px;
    gap: 182px;
}
.menu-item1,.menu-item2, .menu-item3 ,.menu-item4 {
    list-style: none;
    margin: 10px;
    margin-right: 32px;
}
.menu-link1, .menu-link2, .menu-link3, .menu-link4{
    text-decoration: none;
   
}
.menu-item1{
    width: 58px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px 0px; 
}
.menu-link1{
    color: #FEA301;  
}
.menu-link1:hover{
    color:orchid;
}
.menu-item2{
    width: 57px;
    height: 30px;
    font-size: 20px;
    font-weight: medium;
    line-height: 30px 0px; 
}
.menu-link2{
    color:#01ACFD;
}
.menu-link2:hover{
    color: tomato;
}
.menu-item3{
    width: 80px;
    height: 30px;
    font-size: 20px;
    font-weight: medium;
    line-height: 30px 0px; 
}
.menu-link3{
    color: rgba(5, 212, 223, 1);
}
.menu-link3:hover{
    color:darkorange;
}
.menu-item4{
    width: 96px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px 0px; 
}
.menu-link4{
    color: rgba(93, 88, 239, 1);
}
.menu-link4:hover{
    color: coral;
}
.nav-btn{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    background-color: #FEA301;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-btn:hover{
    background-color: tomato;
}
.icon{
    align-items: center;
    font-size: 20px;
    margin-right: 12px;
    color:#000000;
    display: none; 
}
/* responsive navbar  */
@media screen and (max-width:576px){
    .navbar{
        width: 100%;
    }
    .logo h3{
        display: none;
    }
    .menu{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .icon{
        width:100%;
        display: flex;
    }  
}
/* marquee style  */
.scrolling-text{
    display: flex;
    align-items: center;
    background-color:#F0AA00 ;
    color: #ffffff;
    margin-top: 10px;
}
.scrolling-text span{
    padding: 8px 16px;
    background-color: #01ACFD;
    clip-path: polygon(0 0, 85% 0,100% 100%,0 100%);
    font-size: 20px;
    font-weight: 500;
}

/* banner styles */
.banner{
max-width: 100%;
height: 575px;
gap: 50px;
margin: 97px 132px;
justify-content: space-evenly;
align-items:center;
text-align:justify;
}
h1{
    width: 640px;
    height: 183px;
    font-size: 56px;
    font: bold;
    color: black;
    line-height: 61px 0px;
}
.first{
    color: #FEA301;
}
.second{
    color: #01ACFD;
}

.bn-description{
    width: 640px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #111111;
    margin-top: 24px;
}
.bn-btn{
    width: 197px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 10px;
    background-color: black;
    border-radius: 12px;
    margin-top: 24px;
}
.bn-btn:hover{
    color:#ffffff;
    background-color:#FEA301;
    border: none;
}
/* banner responsive  */
@media screen and (max-width:576px) {

.banner{
    width: 100%;
    flex-direction:column-reverse;  
}
.bn-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}
}

/* container items */

.content-section{
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
    padding: 60px 0px;
}
.title{
    width: 460.61px;
    height: 57.5px;
    font-size: 46px;
    font-weight: bold;
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    max-width: 100%;
    height: 481.5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 28px;
}
.con-item1{
    box-sizing: border-box;
    width: 367.8px;
    height: 376.78px;
    border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.con-item1 img{
width: 125.41px;
height: 126.1px;
margin-left:4.2%;
margin-right: 4.1%;
margin-top: 3.9%;
margin-bottom: 3.9%;
}
.con-item1 h4{
width: 231.06px;
height: 31.13px;
margin-left: 68.31px;
color: rgba(32, 32, 32, 1);
font-size: 24.52px;
font-weight: bold;
line-height: 30.65px;
text-align: center;
margin-bottom: 30px;
}
.con-item1 p{
width: 286.26px;
height: 74.51px;
margin-left: 40.88px;
color: rgba(128, 128, 128,1);
font-size: 15.09px;
font-weight: 500;
text-align: center;
}
.btn1{
    width: 102.92px;
    height: 28px;
    border: none;
    background-color: #ffffff;
    font-size: 15.09px;
    font-weight: bold;
    margin: 30px;
    color:#64C8FF;
}
.con-item2{
    box-sizing: border-box;
    width: 367.8px;
    height: 376.78px;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.con-item2 img{
width: 125.41px;
height: 126.1px;
margin-left:4.2%;
margin-right: 4.1%;
margin-top: 3.9%;
margin-bottom: 3.9%;
}
.con-item2 h4{
width: 231.06px;
height: 31.13px;
margin-left: 68.31px;
color: rgba(32, 32, 32, 1);
font-size: 24.52px;
font-weight: bold;
line-height: 30.65px;
text-align: center;
margin-bottom: 30px;
}
.con-item2 p{
width: 286.26px;
height: 74.51px;
margin-left: 40.88px;
color: rgba(128, 128, 128,1);
font-size: 15.09px;
font-weight: 500;
text-align: center;
}
.btn2{
    width: 102.92px;
    height: 28px;
    border: none;
    background-color: #ffffff;
    font-size: 15.09px;
    font-weight: bold;
    margin: 30px;
    color: #F0AA00;
}
.con-item3{
    box-sizing: border-box;
    width: 367.8px;
    height: 376.78px;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.con-item3 img{
width: 125.41px;
height: 126.1px;
margin-left:4.2%;
margin-right: 4.1%;
margin-top: 3.9%;
margin-bottom: 3.9%;
}
.con-item3 h4{
width: 231.06px;
height: 31.13px;
margin-left: 68.31px;
color: rgba(32, 32, 32, 1);
font-size: 24.52px;
font-weight: bold;
line-height: 30.65px;
text-align: center;
margin-bottom: 30px;
}
.con-item3 p{
width: 286.26px;
height: 74.51px;
margin-left: 40.88px;
color: rgba(128, 128, 128,1);
font-size: 15.09px;
font-weight: 500;
text-align: center;
}
.btn3{
    width: 102.92px;
    height: 28px;
    border: none;
    background-color: #ffffff;
    font-size: 15.09px;
    font-weight: bold;
    margin: 30px;
    color: #8700FF;
}
.con-icon{
    width: 130px;
    height: 60px;
    display: flex;
    gap: 10px;

}
.con-icon1, .con-icon2{
    width: 60px;
    border-radius: 30px;
    background-color: #F0AA00;
    color: #ffffff;
}
.arrow1{
    width: 15.38px;
    font-size: 24px;
    font-weight: solid;
    margin-top: 20px;
    margin-left:25px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.arrow2{
    width: 15.38px;
    font-size: 24px;
    font-weight: solid;
    margin-top: 20px;
    margin-right:10px;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.con-icon1:hover{
    background-color:#64C8FF;
}
.con-icon2:hover{
    background-color:#64C8FF;
}
/* responsive container  */
@media screen and (max-width:576px) {
    .container{
        width: 90%;
        height: 100%;
        flex-direction: column;
    }
    .title{
        height: 100%;
    }
    .banner{
        height: 100%;
    }
    .con-icon{
        display: none;
    }
    
    
}
/* our stories */
.stories-sec{
    max-width: 100%;
 background: url("../images/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.top-title{
    width: 460.61px;
    padding: 60px 0px ;
    margin: 0 auto;
    font-size: 46px;
    font-weight: bold;
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.story-container{
    /* max-width: 100%;
 background: url(bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
 background:no-repeat; */
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
}
.child-1{
    grid-row: span 2;
    width: 540.27px;
    margin: 0px auto;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #ffffff;
}
.img1{
    border-radius: 16px 16px 0px 0px;
}
.title1{
    width: 402.49px; 
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin: 30px;
}
.description{
    width: 433.06px;
    font-size: 15.34px;
    font-weight: 500px;
    margin: 30px;
    color: #666666;
}
.child-2, .child-3,.child-4,.child-5{
    width: 290.69px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 16px;
}
.img2, .img3, .img4, .img5{
    border-radius:16px 16px 0px 0px ;
}

.title2,.title3, .title4, .title5{
    width: 198.04px;
    font-size: 15.34px;
    font-weight: bold;
    margin: 20px;
    margin-left: 40px;
}

 .story-btn1{
    width: 174.51px;
    height: 47.93px;
      border-radius: 47.93px;
        background-color:#01ACFD ;
        color: #ffffff;
        font-size: 15.34px;
        font-weight: 400;
        margin-top: -50%;
        margin-left: 40px;
        margin-bottom: 10px;
        border: none;
     }
 .story-btn2{
    width: 174.51px;
    height: 38.35px;
    border-radius: 47.93px;
    background-color:#95B226 ;
    color: #ffffff;
    font-size: 15.34px;
    font-weight: 400;
    margin-top: -50%;
    margin-left: 40px;
    margin-bottom: 10px;
    border: none;
 }
 .story-btn3{
    width: 174.51px;
    height: 38.35px;
    border-radius: 47.93px;
    background-color:#5D58F0 ;
    color: #ffffff;
    font-size: 15.34px;
    font-weight: 400;
    margin-top: -50%;
    margin-left: 40px;
    margin-bottom: 10px;
    border: none;
 }
 .story-btn4{
    width: 174.51px;
    height: 38.35px;
    border-radius: 47.93px;
    background-color:#95B226;
    color: #ffffff;
    font-size: 15.34px;
    font-weight: 400;
    margin-top: -50%;
    margin-left: 40px;
    margin-bottom: 10px;
    border: none;
 }
 .story-btn5{
    width: 174.51px;
    height: 38.35px;
    border-radius: 47.93px;
    background-color:#95B226 ;
    color: #ffffff;
    font-size: 15.34px;
    font-weight: 400;
    margin-top: -50%;
    margin-left: 40px;
    margin-bottom: 10px;
    border: none;
 }
 
 /* responsive our stories  */

 @media screen and (max-width: 576px) {
    .story-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .child-1{
        grid-row: span 1;
        width: 540.27px;
        height: 630.52px;
        border-radius: 16px;
        display: none;
    
    }
 }

 /* footer styles */
 footer{
    width: 100%;
    padding-top: 40px;
    gap: 70px;
    background-color: #01ACFD;
 }
 .last-container{
    width: 1140px;
    margin: auto;
    display:flex ;
    justify-content: center;
 }
 h3{
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;
 }
 .footer-content{
    width: 33.3%;
 }
 .footer-content p{
    width: 399px;
    margin: auto;
    padding: 7px;
    font-size: 20px;
    font-weight: 400;
 }
 .footer-content ul{
    text-align: center;
 }
 .list{
    padding: 0;
 }
 .list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
 }
 .list a{
    text-decoration: none;
    color: #ffffff;
    font-size:20px;
    font-weight: medium;
 }
 .footer-img{
    width: 70.34px;
    height: 81.65px;
 }
 .footer-title{
    width: 206.11px;
    height: 80px;
    left: 234.6px;
    top: 2696.32px;
    color: #ffffff;
    font-size: 42.14px;
    font-weight: 700;
    line-height: 39.51px;
    letter-spacing: 0%;
    text-align: left;
     }
     .footer-description{
        width: 399.02px;
        height: 100px;
        left: 148px;
        top: 2812px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: left;
         }
        .sub-title{
            width: 156.36px;
            font-size: 24px;
            font-weight: bold;
            color: #ffffff;
            margin:0 auto;
            padding-bottom: 50px;
        }
        .sub-title2{
            width: 156.36px;
            font-size: 24px;
            font-weight: bold;
            color: #ffffff;
            margin: 10px auto;
            padding-bottom: 40px;
        }
        .social-icon{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        @media screen and (max-width: 576px) {
            footer{
                width: 100%;
            }
            .last-container{
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .scrolling-text{
                display: none;
            }
            .sub-title{
                margin-top: 10px;
            }
            .footer-description{
                margin-top: 20px;
            }
            
        }
    



 